.horizontalSlider {
    width: 100%;
    max-width: 500px;
    height: 16px;
}

.verticalSlider {
    height: 380px;
    width: 50px;
    border: 1px solid grey;
}

.exampleThumb {
    font-size: 0.5em;
    text-align: center;
    background-color: #FFFFFF;

    border-radius: 100px;
    height: 20px;
    width: 20px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: #3E00FA;
        border: none;
    }

    & svg path {
        fill: #3E00FA;
    }

    &:hover svg path {
        fill: white;
    }
}

.horizontalSlider .exampleTrack {
    top: 8px;
    height: 6px;
    background-color: #F1F5F9;
}

.horizontalSlider .exampleThumb {
    top: 1px;
    line-height: 38px;
}